<div class="row gy-4">
  <div class="col-lg-8">
    <div class="portfolio-details-slider swiper-container">
      <h3>연도별 산업별 일자리 지수</h3>
      <div class="col-lg-6" style="float: left">
        <select id="selectYear1" class="form-control">
          <option value="">년도를 선택해주세요</option>
          {% for objects in year_list2 %}
          <option value="{{objects.year}}">{{objects.year}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-lg-6" style="float: left">
        <select id="selectIndicator1" class="form-control">
          <option value="">지수를 선택해주세요</option>
          <option value="통합지수">통합지수</option>
          <option value="6">작업장안전</option>
          <option value="7">고용평등</option>
          <option value="19">산업재해율</option>
          <option value="20">산재사망률</option>
          <option value="21">남녀임금비(산업별)</option>
          <!-- {% for indicator in indicator_list %}
          <option value="{{indicator.indicator}}">
            <log class="console">{{indicator.indicator_nm}}</log>
          </option>
          {% endfor %} -->
        </select>
      </div>
      <canvas id="mychart3"></canvas>
    </div>
  </div>
  <div class="col-lg-4">
    <table class="table table_3rem">
      <thead>
        <tr>
          <th>구분</th>
          <th>지수</th>
        </tr>
      </thead>
      <tbody id="mychart_tb3"></tbody>
    </table>
  </div>
</div>

<div class="row gy-4">
  <div class="col-lg-8">
    <div class="portfolio-details-slider swiper-container">
      <h3>산업별 시계열 일자리 지수</h3>
      <div class="col-lg-6" style="float: left">
        <select id="selectIndustry" class="form-control">
          <option value="">산업분야를 선택해주세요</option>
          {% for indus in indus_list %}
          <option value="{{indus.code}}">{{indus.code_nm}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-lg-6" style="float: left">
        <select id="selectIndicator2" class="form-control">
          <option value="">지수를 선택해주세요</option>
          <option value="통합지수">통합지수</option>
          <option value="6">작업장안전</option>
          <option value="7">고용평등</option>
          <option value="19">산업재해율</option>
          <option value="20">산재사망률</option>
          <option value="21">남녀임금비(산업별)</option>
          <!-- {% for indicator in indicator_list %}
          <option value="{{indicator.indicator}}">
            <log class="console">{{indicator.indicator_nm}}</log>
          </option>
          {% endfor %} -->
        </select>
      </div>
      <canvas id="mychart4"></canvas>
    </div>
  </div>
  <div class="col-lg-4">
    <table class="table table_3rem">
      <thead>
        <tr>
          <th>구분</th>
          <th>지수</th>
        </tr>
      </thead>
      <tbody id="mychart_tb4"></tbody>
    </table>
  </div>
</div>

<script>
  //===================chart1==========================================================
  $(document).ready(function () {
    var color = [
      "#98a1a8",
      "#5aa7de",
      "#929ae9",
      "#b48ee8",
      "#dc7be5",
      "#e57dba",
      "#e6838b",
      "#dd8d54",
      "#b0a200",
      "#94d736",
      "#0fb900",
      "#00b84d",
      "#00b3a4",
      "#dee1e3",
      "#cce4f5",
      "#bcc0f2",
      "#d1baf1",
      "#eab0ef",
      "#f0b2d6",
      "#f0b5ba",
      "#eaba98",
      "#d5c72c",
    ];
    var data = {
      labels: [
        "전체",
        "A",
        "B",
        "C",
        "D",
        "E",
        "F",
        "G",
        "H",
        "I",
        "J",
        "K",
        "L",
        "M",
        "N",
        "P",
        "Q",
        "R",
        "S",
      ],
      datasets: [
        {
          label: "",
          backgroundColor: color,
          //borderColor: 'rgb(255, 99, 132)',
          data: [],
        },
      ],
    };

    makeChart.make("mychart3", "bar", data, "제목이다", false);

    $("#selectIndicator1").on("change", function () {
      var selectYear1 = $("#selectYear1").val();
      if (selectYear1 == "") {
        alert("년도를 선택해주세요.");
        return false;
      }
      var parameter = {
        param_year11: $("#selectYear1").val(),
        param_indicator11: $("#selectIndicator1").val(),
      };
      // console.log(parameter.param_year);
      // var parameter = { indicator: $(this).val() };
      callFunc(
        "/chartff/",
        parameter,
        function (status, data) {
          if (status == "success") {
            // var result_nm = format("test_{}_{}", selectYear1, selectIndicator1);
            if ($("#selectIndicator1").val() == "통합지수") {
              var datalist = data.chart11uni;
            } else {
              var datalist = data.chart11det;
            }

            var labels = [];
            var datas = [];
            var tempHtml3 = "";
            for (var i = 0; i < datalist.length; i++) {
              datas.push(datalist[i].detail_index);
              labels.push(datalist[i].code_nm.substring(0, 10));
              // datas.push(deptlist[i].unity_index);
              // labels.push(deptlist[i].code_nm);
              // alert(datalist[i].code_nm);
              // alert(selectIndicator1);
              tempHtml3 +=
                "<tr><td>" +
                datalist[i].code_nm +
                "</td><td>" +
                datalist[i].detail_index +
                "</td></tr>";
            }
            $("#mychart_tb3").html(tempHtml3);
            // for (var i = 0; i < deptlist.length; i++) {
            //   // datas.push(selectYear1);
            //   datas.push(deptlist[i].unity_index);
            //   // alert(datas[i]);
            // }
            // returnData = datas;
            // returnData = labels;

            var color = [
              "#98a1a8",
              "#5aa7de",
              "#929ae9",
              "#b48ee8",
              "#dc7be5",
              "#e57dba",
              "#e6838b",
              "#dd8d54",
              "#b0a200",
              "#94d736",
              "#0fb900",
              "#00b84d",
              "#00b3a4",
              "#dee1e3",
              "#cce4f5",
              "#bcc0f2",
              "#d1baf1",
              "#eab0ef",
              "#f0b2d6",
              "#f0b5ba",
              "#eaba98",
              "#d5c72c",
            ];
            var data = {
              labels: labels,
              datasets: [
                {
                  label: "",
                  backgroundColor: color,
                  //borderColor: 'rgb(255, 99, 132)',
                  data: datas,
                },
              ],
            };

            makeChart.make("mychart3", "bar", data, "제목이다", false);
          } else {
            alert("데이터 가져오기 실패???");
            returnData = null;
          }
        },
        false
      );
    });
    // var test = datas;
  });
  // });

  //=====================chart2=============================================================
  $(document).ready(function () {
    var color = ["rgb(54, 162, 235)"];
    var data = {
      labels: [
        "2009",
        "2010",
        "2011",
        "2012",
        "2013",
        "2014",
        "2015",
        "2016",
        "2017",
        "2018",
        "2019",
      ],
      datasets: [
        {
          label: "",
          backgroundColor: color,
          borderColor: "rgb(54, 162, 235)",
          data: [],
        },
      ],
    };

    makeChart.make("mychart4", "line", data, "제목이다", false);

    //   $("#selectIndicator2").on("change", function () {
    //     var selectRegion = $("#selectRegion").val();
    //     if (selectRegion == "") {
    //       alert("지역을 선택해주세요.");
    //       return false;
    //     }

    //     var parameter = { indicator: $(this).val() };
    //     callFunc(
    //       "/ajaxtest/",
    //       parameter,
    //       function (status, data) {
    //         if (status == "success") {
    //           var deptlist = data.result;
    //           var datas = [];
    //           for (var i = 0; i < deptlist.length; i++) {
    //             datas.push(deptlist[i].dept_nm);
    //             alert(deptlist[i].dept_nm);
    //             // print(test_list[i]);
    //           }
    //         } else {
    //           alert("데이터 가져오기 실패");
    //           returnData = null;
    //         }
    //       },
    //       false
    //     );
    //   });
    // });

    $("#selectIndicator2").on("change", function () {
      var selectIndustry = $("#selectIndustry").val();
      if (selectIndustry == "") {
        alert("산업분야를 선택해주세요.");
        return false;
      }
      var parameter = {
        param_industry: $("#selectIndustry").val(),
        param_indicator22: $("#selectIndicator2").val(),
      };
      console.log(parameter.param_industry, parameter.param_indicator22);
      // var parameter = { indicator: $(this).val() };
      callFunc(
        "/chartss/",
        parameter,
        function (status, data) {
          if (status == "success") {
            // var result_nm = format("test_{}_{}", selectYear1, selectIndicator1);
            if ($("#selectIndicator2").val() == "통합지수") {
              var datalist = data.chart22uni;
            } else {
              var datalist = data.chart22det;
            }

            var labels2 = [];
            var datas2 = [];
            var tempHtml4 = "";
            for (var i = 0; i < datalist.length; i++) {
              datas2.push(datalist[i].detail_index);
              labels2.push(datalist[i].year);
              // datas.push(deptlist[i].unity_index);
              // labels.push(deptlist[i].code_nm);
              // alert(datalist[i].code_nm);
              // alert(selectIndicator1);
              tempHtml4 +=
                "<tr><td>" +
                datalist[i].year +
                "</td><td>" +
                datalist[i].detail_index +
                "</td></tr>";
            }
            $("#mychart_tb4").html(tempHtml4);
            // for (var i = 0; i < deptlist.length; i++) {
            //   // datas.push(selectYear1);
            //   datas.push(deptlist[i].unity_index);
            //   // alert(datas[i]);
            // }
            // returnData = datas;
            // returnData = labels;

            var color = ["rgb(54, 162, 235)"];
            var data = {
              labels: labels2,
              datasets: [
                {
                  label: "",
                  backgroundColor: "",
                  borderColor: "rgb(54, 162, 235)",
                  data: datas2,
                },
              ],
            };

            makeChart.make("mychart4", "line", data, "제목이다", false);
          } else {
            alert("데이터 가져오기 실패???");
            returnData = null;
          }
        },
        false
      );
    });
    // var test = datas;
  });
  // });
</script>
