<div class="row gy-4">
    <div class="col-lg-6">
      <div class="portfolio-details-slider swiper-container">
        <canvas id="mychart"></canvas>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="portfolio-info">
        <h3 id="zzzz">탭투다</h3>
        <ul>
          <!--<li><strong>Category</strong>: Web design</li>-->
          <!--<li><strong>Client</strong>: ASU Company</li>-->
          <!--<li><strong>Project date</strong>: 01 March, 2020</li>-->
          <!--<li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>-->
        </ul>
      </div>
      <div class="portfolio-description" id="portfolio-description">
        <h2>This is an example of portfolio detail</h2>
        <p>
          Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
        </p>
      </div>
    </div>
</div>
<div class="row gy-4">
    <div class="col-lg-6">
      <div class="portfolio-details-slider swiper-container">
        <canvas id="mychart2"></canvas>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="portfolio-info">
        <h3 id="zzzz2">탭투다</h3>
        <ul>
          <!--<li><strong>Category</strong>: Web design</li>-->
          <!--<li><strong>Client</strong>: ASU Company</li>-->
          <!--<li><strong>Project date</strong>: 01 March, 2020</li>-->
          <!--<li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>-->
        </ul>
      </div>
      <div class="portfolio-description" id="portfolio-description">
        <h2>This is an example of portfolio detail</h2>
        <p>
          <select id="selectIndicator">
            {% for indicator in indicator_list %}
              <option value="{{indicator.indicator}}">{{indicator.indicator_nm}}</option>
            {% endfor %}
          </select>
          <select id="selectYear">
            <option value="">선택해주세요</option>
            <option value="2008">2008</option>
          </select>
        </p>
      </div>
    </div>
</div>

  <script>
    $(document).ready(function(){
      var color = ['rgb(255, 99, 132)', 'rgb(255, 159, 64)', 'rgb(255, 205, 86)', 'rgb(75, 192, 192)', 'rgb(54, 162, 235)', 'rgb(153, 102, 255)'];
          var data = {
                  labels: ['빨간색','파란색','초록색'],
                  datasets: [{
                      label: '색상',
                      backgroundColor: color,
                      //borderColor: 'rgb(255, 99, 132)',
                      data: [2 ,10, 5,]
                  }]
              };
  
          makeChart.make('mychart', 'bar', data, '제목이다', true); 
  
          $('#zzzz').on('click', function(){
                callFunc('/ajaxtest/', '', function(status, data){
                if(status == 'success'){
                    console.log(data);
                } else {
                    alert('데이터 가져오기 실패');
                    returnData = null;	
                }
            }, false);
          })
  
    })

    $(document).ready(function(){
      var color = ['rgb(255, 99, 132)', 'rgb(255, 159, 64)', 'rgb(255, 205, 86)', 'rgb(75, 192, 192)', 'rgb(54, 162, 235)', 'rgb(153, 102, 255)'];
          var data = {
                  labels: ['빨간색','파란색','초록색'],
                  datasets: [{
                      label: '색상',
                      backgroundColor: color,
                      //borderColor: 'rgb(255, 99, 132)',
                      data: [2 ,10, 5,]
                  }]
              };
              
              data = {
                        labels: ['1월','1월','1월','1월','1월','1월','1월'],
                        datasets: [{
                          axis: 'y',
                          label: 'My First Dataset',
                          data: [65, 59, 80, 81, 56, 55, 40],
                          fill: false,
                          backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(255, 159, 64, 0.2)',
                            'rgba(255, 205, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(201, 203, 207, 0.2)'
                          ],
                          borderColor: [
                            'rgb(255, 99, 132)',
                            'rgb(255, 159, 64)',
                            'rgb(255, 205, 86)',
                            'rgb(75, 192, 192)',
                            'rgb(54, 162, 235)',
                            'rgb(153, 102, 255)',
                            'rgb(201, 203, 207)'
                          ],
                          borderWidth: 1
                        }]
                      };
          makeChart.make('mychart2', 'bar', data, '제목이다', true); 
  
          $('#zzzz2').on('click', function(){
                callFunc('/ajaxtest/', '', function(status, data){
                if(status == 'success'){
                    console.log(data);
                } else {
                    alert('데이터 가져오기 실패');
                    returnData = null;	
                }
            }, false);
          })

          $('#selectIndicator').on('change', function(){
            var selectYear = $('#selectYear').val();
            if(selectYear == '') {
              alert('년도를 선택해주세요.');
              return false;
            }

            var parameter = {'indicator' : $(this).val()}
            callFunc('/ajaxtest/', parameter, function(status, data){
                if(status == 'success'){
                    console.log(data);
                } else {
                    alert('데이터 가져오기 실패');
                    returnData = null;	
                }
            }, false);
          })
  
    })
  </script>