{% load static %}
<script src="{% static 'js/common.js' %}"></script>
<div class="row gy-4">
  <div class="col-lg-8">
    <div class="portfolio-details-slider swiper-container">
      <h3>연도별 광역시/도 일자리 지수</h3>
      <div class="col-lg-6" style="float: left">
        <select id="selectYear1" class="form-control">
          <option value="">년도를 선택해주세요</option>
          {% for objects in year_list %}
          <option value="{{objects.year}}">{{objects.year}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-lg-6" style="float: left">
        <select id="selectIndicator1" class="form-control">
          <option value="">지수를 선택해주세요</option>
          <option value="통합지수">통합지수</option>
          {% for indicator in indicator_list %}
          <option value="{{indicator.indicator}}">
            <log class="console">{{indicator.indicator_nm}}</log>
          </option>
          {% endfor %}
        </select>
      </div>
      <canvas id="mychart"></canvas>
    </div>
  </div>
  <div class="col-lg-4">
    <table class="table table_3rem">
      <thead>
        <tr>
          <th>구분</th>
          <th>값(명칭지정)</th>
        </tr>
      </thead>
      <tbody id="mychart_tb">

      </tbody>
    </table>
  </div>
</div>

<div class="row gy-4">
  <div class="col-lg-12">
    <div class="portfolio-details-slider swiper-container">
      <h3>지역별 시계열 일자리 지수</h3>
      <div class="col-lg-6" style="float: left">
        <select id="selectRegion" class="form-control">
          <option value="">지역을 선택해주세요</option>
          {% for sido in sido_list %}
          <option value="{{sido.code}}">{{sido.code_nm}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-lg-6" style="float: left">
        <select id="selectIndicator2" class="form-control">
          <option value="">지수를 선택해주세요</option>
          <option value="통합지수">통합지수</option>
          {% for indicator in indicator_list %}
          <option value="{{indicator.indicator}}">
            <log class="console">{{indicator.indicator_nm}}</log>
          </option>
          {% endfor %}
        </select>
      </div>
      <canvas id="mychart2"></canvas>
    </div>
  </div>
</div>

<div class="row gy-4">
  <div class="col-lg-12">
    <div class="portfolio-details-slider swiper-container"></div>
      <h3>지역별 일자리 지수 지도 시각화</h3>
      <div class="col-lg-6" style="float: left">
        <select id="selectYear3" class="form-control">
          <option value="">년도를 선택해주세요</option>
          {% for objects in year_list %}
          <option value="{{objects.year}}">{{objects.year}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-lg-6" style="float: left">
        <select id="selectIndicator3" class="form-control">
          <option value="">지수를 선택해주세요</option>
          <option value="통합지수">통합지수</option>
          {% for indicator in indicator_list %}
          <option value="{{indicator.indicator}}">
            <log class="console">{{indicator.indicator_nm}}</log>
          </option>
          {% endfor %}
        </select>
      </div>
      <!-- <div class="map" style="height: 1000px">{{ map|safe }}</div> -->
    </div>
  </div>
</div>


<script>
  // var test_list = { test_list };
  // var list = [];
  // for (var i in test_list) {
  //   var chart_data = list.append(i.unity_index);
  // }

  // function format() {
  //   var args = Array.prototype.slice.call(arguments, 1);
  //   return arguments[0].replace(/\{(\d+)\}/g, function (match, index) {
  //     return args[index];
  //   });
  // }
  /// =============================================chart1=========================================================

  $(document).ready(function () {
    var color = [
              "#98a1a8",
              "#5aa7de",
              "#929ae9",
              "#b48ee8",
              "#dc7be5",
              "#e57dba",
              "#e6838b",
              "#dd8d54",
              "#b0a200",
              "#94d736",
              "#0fb900",
              "#00b84d",
              "#00b3a4",
              "#dee1e3",
              "#cce4f5",
              "#bcc0f2",
              "#d1baf1",
              "#eab0ef",
              "#f0b2d6",
              "#f0b5ba",
              "#eaba98",
              "#d5c72c",
            ];
    var data = {
      labels: [
        "계",
        "서울특별시",
        "부산광역시",
        "대구광역시",
        "인천광역시",
        "광주광역시",
        "대전광역시",
        "울산광역시",
        "세종특별자치시",
        "경기도",
        "강원도",
        "충청북도",
        "충청남도",
        "전라북도",
        "전라남도",
        "경상북도",
        "경상남도",
        "제주도",
      ],
      datasets: [
        {
          label: "",
          backgroundColor: color,
          //borderColor: 'rgb(255, 99, 132)',
          data: [],
        },
      ],
    };

    makeChart.make("mychart", "bar", data, "제목이다", false);

    $("#selectIndicator1").on("change", function () {
      var selectYear1 = $("#selectYear1").val();
      if (selectYear1 == "") {
        alert("년도를 선택해주세요.");
        return false;
      }

      var parameter = {
        param_year1: $("#selectYear1").val(),
        param_indicator1: $("#selectIndicator1").val(),
      };
      // console.log(parameter.param_year);
      // var parameter = { indicator: $(this).val() };
      callFunc(
        "/chartf/",
        parameter,
        function (status, data) {
          if (status == "success") {
            // console.log(data);
            // var result_nm = format("test_{}_{}", selectYear1, selectIndicator1);
            if ($("#selectIndicator1").val() == "통합지수") {
              var datalist = data.chart1uni;
            } else {
              var datalist = data.chart1det;
            }

            var labels = [];
            var datas = [];
            var tempHtml = '';
            for (var i = 0; i < datalist.length; i++) {
              datas.push(datalist[i].detail_index);
              labels.push(datalist[i].code_nm);
              // datas.push(deptlist[i].unity_index);
              // labels.push(deptlist[i].code_nm);
              // alert(datalist[i].code_nm);
              // alert(selectIndicator1);
              tempHtml += '<tr><td>'+datalist[i].code_nm+'</td><td>'+datalist[i].detail_index+'</td></tr>';
            }
            $('#mychart_tb').html(tempHtml);

            // for (var i = 0; i < deptlist.length; i++) {
            //   // datas.push(selectYear1);
            //   datas.push(deptlist[i].unity_index);
            //   // alert(datas[i]);
            // }
            // returnData = datas;
            // returnData = labels;

            // if (window.makeChart != undefined) {
            //   window.makeChart.destroy();
            // }

            var color = [
              "#98a1a8",
              "#5aa7de",
              "#929ae9",
              "#b48ee8",
              "#dc7be5",
              "#e57dba",
              "#e6838b",
              "#dd8d54",
              "#b0a200",
              "#94d736",
              "#0fb900",
              "#00b84d",
              "#00b3a4",
              "#dee1e3",
              "#cce4f5",
              "#bcc0f2",
              "#d1baf1",
              "#eab0ef",
              "#f0b2d6",
              "#f0b5ba",
              "#eaba98",
              "#d5c72c",
            ];
            var data = {
              labels: labels,
              datasets: [
                {
                  label: "",
                  backgroundColor: color,
                  //borderColor: 'rgb(255, 99, 132)',
                  data: datas,
                },
              ],
            };

            // var parameter = [];
            makeChart.make("mychart", "bar", data, "제목이다", false);

            // myChart = makeChart.make("mychart", "bar", data, "제목이다", false);
            // if (mychart != undefined) {
            //   mychart.destroy();
            // }
            // var mychart = new myChart();

            // mychart;
            // mychart.update();

            // var parameter = [];
          } else {
            alert("데이터 가져오기 실패???");
            returnData = null;
          }
        },
        false
      );
    });
    // var test = datas;
  });
  // });
  /// =============================================chart2=========================================================
  $(document).ready(function () {
    var color = ["rgb(54, 162, 235)"];

    var data = {
      labels: [
        "2008",
        "2009",
        "2010",
        "2011",
        "2012",
        "2013",
        "2014",
        "2015",
        "2016",
        "2017",
        "2018",
        "2019",
      ],
      datasets: [
        {
          label: "",
          backgroundColor: color,
          borderColor: "rgb(54, 162, 235)",
          data: [],
        },
      ],
    };

    makeChart.make("mychart2", "line", data, "제목이다", false);

    //   $("#selectIndicator2").on("change", function () {
    //     var selectRegion = $("#selectRegion").val();
    //     if (selectRegion == "") {
    //       alert("지역을 선택해주세요.");
    //       return false;
    //     }

    //     var parameter = { indicator: $(this).val() };
    //     callFunc(
    //       "/ajaxtest/",
    //       parameter,
    //       function (status, data) {
    //         if (status == "success") {
    //           var deptlist = data.result;
    //           var datas = [];
    //           for (var i = 0; i < deptlist.length; i++) {
    //             datas.push(deptlist[i].dept_nm);
    //             alert(deptlist[i].dept_nm);
    //             // print(test_list[i]);
    //           }
    //         } else {
    //           alert("데이터 가져오기 실패");
    //           returnData = null;
    //         }
    //       },
    //       false
    //     );
    //   });
    // });

    $("#selectIndicator2").on("change", function () {
      var selectRegion = $("#selectRegion").val();
      if (selectRegion == "") {
        alert("지역을 선택해주세요.");
        return false;
      }
      var parameter = {
        param_region: $("#selectRegion").val(),
        param_indicator2: $("#selectIndicator2").val(),
      };
      // console.log(parameter.param_region);
      // var parameter = { indicator: $(this).val() };
      callFunc(
        "/charts/",
        parameter,
        function (status, data) {
          if (status == "success") {
            // var result_nm = format("test_{}_{}", selectYear1, selectIndicator1);
            if ($("#selectIndicator2").val() == "통합지수") {
              var datalist = data.chart2uni;
            } else {
              var datalist = data.chart2det;
            }

            var labels2 = [];
            var datas2 = [];
            for (var i = 0; i < datalist.length; i++) {
              datas2.push(datalist[i].detail_index);
              labels2.push(datalist[i].year);
              // datas.push(deptlist[i].unity_index);
              // labels.push(deptlist[i].code_nm);
              // alert(datalist[i].code_nm);
              // alert(selectIndicator1);
            }

            // for (var i = 0; i < deptlist.length; i++) {
            //   // datas.push(selectYear1);
            //   datas.push(deptlist[i].unity_index);
            //   // alert(datas[i]);
            // }
            // returnData = datas;
            // returnData = labels;

            var color = ["rgb(54, 162, 235)"];
            var data = {
              labels: labels2,
              datasets: [
                {
                  label: "",
                  backgroundColor: "",
                  borderColor: "rgb(54, 162, 235)",
                  data: datas2,
                },
              ],
            };

            makeChart.make("mychart2", "line", data, "제목이다", false);
          } else {
            alert("데이터 가져오기 실패???");
            returnData = null;
          }
        },
        false
      );
    });
    // var test = datas;
  });
  // });

  //=====================chart3=======================================================================
  $("#selectIndicator3").on("change", function () {
      var selectYear3 = $("#selectYear3").val();
      if (selectYear3 == "") {
        alert("년도를 선택해주세요.");
        return false;
      }

      var parameter = {
        param_year3: $("#selectYear3").val(),
        param_indicator3: $("#selectIndicator3").val(),
      };
      // console.log(parameter.param_year);
      // var parameter = { indicator: $(this).val() };
      callFunc(
        "/chartm/",
        parameter,
        function (status, data) {
          if (status == "success") {
            // var result_nm = format("test_{}_{}", selectYear1, selectIndicator1);
            if ($("#selectIndicator3").val() == "통합지수") {
              var datalist = data.chart3uni;
            } else {
              var datalist = data.chart3det;
            }

            var labels3 = [];
            var datas3 = [];
            for (var i = 0; i < datalist.length; i++) {
              datas3.push(datalist[i].detail_index);
              labels3.push(datalist[i].code);
              // datas.push(deptlist[i].unity_index);
              // labels.push(deptlist[i].code_nm);
              // alert(selectIndicator1);
              alert(datalist[i].code);
            }
            // 돈희 멘토님 labels에 지역코드, datas에 지수값 넣어놨어요...
            // 선물 정말 감사합니다...ㅎㅎ


          } else {
            alert("데이터 가져오기 실패???");
            returnData = null;
          }
        },
        false
      );
    });
</script>

